[user]
	name = biros
	email = boris.jamot@protonmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
	editor = nvim
	pager = cat
	autocrlf = input
	ignorecase = false
	safecrlf = warn
[g2 "panic"]
	excludes = -e .classpath -e .settings -e *.iml
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	trustExitCode = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = current
[mergetool]
	keepBackup = false
